@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 48 33% 94%;
    --foreground: 20 14% 4%;
    --card: 48 33% 94%;
    --card-foreground: 20 14% 4%;
    --popover: 48 33% 94%;
    --popover-foreground: 20 14% 4%;
    --primary: 142 76% 36%;
    --primary-foreground: 142 76% 96%;
    --secondary: 141 53% 86%;
    --secondary-foreground: 142 71% 21%;
    --muted: 45 16% 89%;
    --muted-foreground: 44 9% 35%;
    --accent: 130 40% 80%;
    --accent-foreground: 142 71% 21%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 141 25% 80%;
    --input: 141 25% 85%;
    --ring: 142 76% 36%;
    --chart-1: 142 76% 36%;
    --chart-2: 141 53% 66%;
    --chart-3: 35 73% 55%;
    --chart-4: 25 80% 60%;
    --chart-5: 43 74% 66%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14% 4%;
    --foreground: 48 33% 94%;
    --card: 20 14% 4%;
    --card-foreground: 48 33% 94%;
    --popover: 20 14% 4%;
    --popover-foreground: 48 33% 94%;
    --primary: 142 76% 36%;
    --primary-foreground: 142 76% 96%;
    --secondary: 142 71% 21%;
    --secondary-foreground: 141 53% 86%;
    --muted: 142 71% 12%;
    --muted-foreground: 45 16% 80%;
    --accent: 142 71% 15%;
    --accent-foreground: 48 33% 94%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 142 71% 15%;
    --input: 142 71% 15%;
    --ring: 142 76% 46%;
    --chart-1: 142 76% 36%;
    --chart-2: 141 53% 66%;
    --chart-3: 35 73% 55%;
    --chart-4: 25 80% 60%;
    --chart-5: 43 74% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
